.side-bar
  .side-bar__user-name
    .side-bar__box
      %p.side-bar__box__name 
        = current_user.name
      %ul.side-bar__box__menu
        %li.side-bar__box__menu__new-group
          = link_to  new_group_path do
            %i.fa.fa-edit
        %li.side-bar__box__menu__edit-user
          = link_to  edit_user_path(current_user) do
            %i.fa.fa-cog
  .side-bar__guoups
    - current_user.groups.each do |group|
      .side-bar__guoup
        = link_to group_messages_path(group) do
          .side-bar__guoup__name 
            = group.name
          .side-bar__guoup__message 
            メッセージはまだありません。